// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.control {
    background-color: lightgreen;
    margin-top: 1%;
}

span {
    font-size: 30px;
    margin-left: 20px;
}

.name {
    margin-top: 1%;
}

button {
    width: 12%;
    border: none;
    background: none;
    outline: none;
}

section {
    margin-top: 1%;
}
